@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Remplace l'URL par le lien de ton image */
  background-image: url('https://res.cloudinary.com/dxtfa4bcx/image/upload/v1772093508/abstract-composition-wallpaper-background-concept_bpyyqa.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* L'image reste fixe quand on scrolle */
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-BoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtratBoldItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'District';
    /* Priorité au format le plus léger (woff2) */
    src: url('/font/District.woff2') format('woff2'),
         url('/font/District.woff') format('woff'),
         url('/font/District.otf') format('opentype');
    font-style: normal;
    font-weight: 500; /* Ou 'normal' selon ton fichier */
    font-display: swap; /* Évite que le texte soit invisible pendant le chargement */
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'District', sans-serif;
    color: white;
    /* Un petit bonus pour rendre le blanc plus "propre" sur fond sombre */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-sans: "Raleway", sans-serif;
}