@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dxtfa4bcx/image/upload/v1772093508/abstract-composition-wallpaper-background-concept_bpyyqa.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* L'image reste fixe quand on scrolle */
  background-repeat: no-repeat;
}

.Magic{
  position: fixed;
  pointer-events: none; /* Pour ne pas bloquer les clics sur les cartes */
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff; /* effet lumière */
  z-index: 9999;
  animation: fall-and-fade 2s linear forwards;
}
/* anim */
@keyframes fall-and-fade {
  /* base */
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  /* Fin */
  100% {
    opacity: 0;
    /* Gravité */
    transform: translate(-20px, 50px) scale(0);
  }
}

@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-BoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtratBoldItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinzel";
  src: url("/font/CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

h1 {
    font-family: 'Cinzel', sans-serif;
    color: white;
    /* Un petit bonus pour rendre le blanc plus "propre" sur fond sombre */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-sans: "Raleway", sans-serif;
}